 .button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	border: solid 1px #739bc7;
	background: #fff;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .5em;
	color: #739bc7;
}

.button:hover {
	background: #E6ECF5;
	text-decoration: none;
	color: #739bc7; !important
}

.button:active {
	position: relative;
	top: 1px;
}
